apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: cd-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cd-operator
  namespace: cd-system
  labels:
    control-plane: controller-manager
    cd.tmax.io/part-of: controller
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - command:
        - /controller
        image: tmaxcloudck/cd-operator:lastest
        imagePullPolicy: Always
        name: manager
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        volumeMounts:
          - mountPath: /logs
            name: operator-log
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8888
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8888
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
      volumes:
        - name: operator-log
          hostPath:
            path: /var/log/cd-operator/logs
      terminationGracePeriodSeconds: 10
